.dark-blue {
    background-color: #208492;
}

.nav-wrapper {
    height: 65px;
    justify-content: center;
}

.header-search-wrapper {
    padding: 14px;
}

.card {
    margin-bottom: 28px;
}

.header-search-wrapper input {
    display: inline-block;
    width: 31%;
}

.form-control:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    border: none;
}

.cards-position {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

.cards-position.grid.active {
    color: white;
}

@media (max-width: 985px) {
    .header-search-wrapper input {
        width: 71%;
    }
}