html, body{
  overflow-x: hidden;
}

.App {
  text-align: center;
}

.container{
  padding-right: 0;
}

.wrapper{
  display: grid;
  grid-template-columns: auto auto auto;
}

.vertical-wrapper{
  display: grid;
  grid-template-columns: auto;
}

@media (max-width: 640px) {
  .wrapper{
    grid-template-columns: auto auto;
  }
}